* {
	box-sizing: border-box;
}

body {
	margin: 0;
}

.grid {
	display: grid;
	width: 100%;
	min-height: 100vh;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
}

.image-wrapper {
	aspect-ratio: 4 / 3;
	position: relative;
	overflow: hidden;
	border: 1px solid black;
}

.image-wrapper img {
	position: absolute;
	display: block;
	width: 100%;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%) scale(3);
	opacity: 0;
	transition: opacity 0.3s ease;
}

.image-wrapper img.loaded {
	opacity: 1;
}
