body {
	display: flex;
	width: 100%;
	height: 100vh;
	justify-content: center;
	align-items: center;
	margin: 0;
}

.container {
	width: 500px;
	height: 100px;
	margin: 0 auto;
	overflow: hidden;
}

.swiper-wrapper {
	transition-timing-function: linear;
}

.container__contents {
	display: flex;
	width: 500px;
	height: 100%;
	justify-content: center;
	align-items: center;
	font-size: 100px;
}

.contents1 {
	background-color: aqua;
}

.contents2 {
	background-color: greenyellow;
}

.contents3 {
	background-color: skyblue;
}

.contents4 {
	background-color: salmon;
}

.contents5 {
	background-color: brown;
}
